.planoOuro-title,
.planoOuro-paragrath{
    margin:4%;
    padding-top:4%;
}

.planoOuro-title{
    width: 250px;
}

.planoOuro-paragrath{
    border-top:2px solid #F7B53D;
}


.planoOuro-card{
    width:80%;
    height:60%;
    background-color: #D6A430;
    margin:4%;
    padding: 4%;
    border-radius: 10px;
}